// .testred
//     color: red

// .dropdown_hiden
//     display: none

// .dropdown
//     display: block

.dropdown-list
    padding: 0px
    margin: 0px
    list-style-position: inside
    list-style-type: none

.dropdown__item
    display: flex
    justify-content: space-between

.dropdown__info
    border: none
    &:focus
        outline: none 

.show 
  transition: opacity 400ms

.hide 
  opacity: 0
