.pagination__list
  display: flex
  font-family: Montserrat
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  display: flex
  align-items: center
  text-align: center
  color: rgba(31, 32, 65, 0.5)

.pagination__item 
  border: none
  width: 40px
  height: 40px
  display: flex
  justify-content: center
  align-items: center
  border-radius: 22px
  background: #ffffff
  &_target
    border: none
    width: 40px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 22px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    color: #FFFFFF
  &_next
    border: none
    width: 40px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 22px
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    color: #FFFFFF
    // !!!!!
    font-family: Material Icons
    font-style: Regular
    font-size: 14px
    line-height: 40px
    width: 40px
    height: 40px
    border-radius: 22px

.pagination__text
  +font-body
  color: rgba(31, 32, 65, 0.75)
  margin-top: 10px

.hide 
  display: none