mixin radio-buttons
  .radio-buttons
    label.radio-buttons__label
      input(type="radio", name="sex" checked="true").radio-buttons__input
      span.radio-buttons__text Мужчина
    label.radio-buttons__label
      input(type="radio", name="sex").radio-buttons__input
      span.radio-buttons__text Женщина