mixin button(options)
  - 
    var buttonClass = options.hover ? 'button_hovered' : ''
    var textClass = options.type == 'outline' ? 'button__text_outline' : ''
    buttonClass += options.type == 'long' ? ' button_long' : ''


  button(class= buttonClass).button
    span.button__text(class= textClass)= options.text
      if options.type == 'long'
        span.button__test.material-icons arrow_forward