mixin button(text, type)
    if type == 'border'
        button.button_border
            div= text
    else if type == 'text'
        button.button_text= text
    else if type == 'long'
        button.button_long= text
    else
        button.button= text