.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  padding: 2px;

  &__text {
    display: block;
    border-radius: 22px;
    padding-right: 17px;
    padding-left: 18px;
    line-height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;

    &_outline {
      background: white;
      color: #bc9cff;
    }
  }

  &__test {
    position: absolute;
    right: 9px;
    top: 8px;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  &:hover,
  &_hovered {
    opacity: 0.5;
  }

  &_long {
    width: 100%;
  }
}
