mixin button(options)
  - 
    var buttonClass = options.hover ? 'button_hovered' : ''
    var textClass = options.type == 'outline' ? 'button__text_outline' : ''
    textClass += options.type == 'long' ? ' button__text_long' : ''
    textClass += options.size == 'low' ? ' button__text_low' : ''

  button(class= buttonClass).button
    span.button__text(class= textClass)= options.text
      if options.type == 'long'
        span.button__forward.material-icons arrow_forward
