.headers-footers {
  background: #f4f4f6;
  min-height: 100vh;

  &__header {
    padding-left: 20px;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 62px;
    max-width: 1420px;
  }

  &__main {
    display: grid;
    // flex-direction: column;
    gap: 40px;
  }

  &__footer-mobile {
    width: 768px;
    margin: auto;
  }
}
