extends ../main.pug
include ../../components/footer/footer

block title
  title Headers footers
block content
  //- +logo
  //- +header
  //- +header('true', 'Юлий Цезарь')
  +footer
  //- +footer
  
    
