mixin menu
  - var menuItems = [
  -    { text: 'О нас', active: 'true' },
  -    { text: 'Услуги' },
  -    { text: 'Вакансии' },
  -    { text: 'Новости' },
  -    { text: 'Соглашения' }
  - ]

  ul.menu
    each menuItem in menuItems
      a(href='#').menu__link
        if menuItem.active
          li.menu__item_active=  menuItem.text
        else
          li.menu__item=  menuItem.text
