.like-button {
  min-width: 40px;
  height: 20px;
  padding: 1px;
  border: none;
  border-radius: 10px;
  background: rgba(31, 32, 65, 0.25);

  &_checked {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  &__inner-wrapper {
    display: block;
    background: #ffffff;
    width: 100%;
    height: 18px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
  }

  &__icon {
    display: block;
    width: 10px;
    height: 8px;
    background: url(./img/like-button.svg);
    margin-right: 6px;

    &_checked {
      background: url(./img/like-button-checked.svg);
    }
  }

  &__counter {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 8px;
    color: rgba(5, 5, 5, 0.25);

    &_checked {
      color: #BC9CFF;
    }
  }
}
