
//- number - число лайков
//- checked - true/false 

mixin like-button(options)
  button.like-button(
    class=options.checked ? 'like-button_checked' : ''
  )
    span.like-button__inner-wrapper
      span.like-button__icon(
        class=options.checked ? 'like-button__icon_checked' : ''
      )
      span.like-button__counter(
        class=options.checked ? 'like-button__counter_checked' : ''
      )= options.number