.expandablecheckboxlist__title
    +font-h3
    margin-bottom: 17px
    display: flex

.expandablecheckboxlist__more 
    width: 14px
    height: 10px
    background: url(./svg/more_off.svg) no-repeat
    margin-left: 30px

.expandablecheckboxlist__item
    margin-bottom: 10px

.expandablecheckboxlist_label
    margin-left: 30px

.expandablecheckboxlist__input
    appearance: none
    position: absolute

.expandablecheckboxlist__text
    +font-body
    line-height: 18px
    opacity:  0.5

.expandablecheckboxlist__checkbox
    position: absolute
    width: 20px
    height: 20px
    background-image: url(./svg/checkbox_off.svg)
    margin-left: -30px

.expandablecheckboxlist__input:checked + .expandablecheckboxlist__checkbox
    background-image: url(./svg/checkbox_on.svg)
