include ../../components/title/title

mixin date-dropdown(options)
  .date-dropdown
    +text-field({
      title: options.leftHeader,
      value: 'Email',
      type: 'dropdown'
    })
    +text-field({
      title: options.rightHeader,
      value: 'Email',
      type: 'dropdown'
    })
