mixin booking-card
  .booking-card
    .booking-card__header
      span.booking-card__room-number-tag № 
        span.booking-card__room-number 888 
        span.booking-card__room-number-luxe люкс
      span.booking-card__price-per-day 9 990₽ 
        span.booking-card__price-per-day-tag в сутки
    .booking-card__date-dropdown
      +date-dropdown({
        leftHeader: 'прибытие', 
        rightHeader: 'выезд', 
        leftValue: '19.08.2019',
        rightValue: '23.08.2019'
      })
    .booking-card__dropdown
      +dropdown({
          type: 'guests',
          opened: 'True',
          number: [0, 2, 5]
        })
    .booking-card__service-list
    +button({text: 'забронировать', type: 'long'})