mixin checkbox_list(items, checkboxType)
  if checkboxType == 'expandable'
    .checkbox_list__header
      +caption('Test')
      .checkbox_list__btn.checkbox_list__btn__hide
    div(class='checkbox_list__visible')
      each item in items
        label.checkbox-list__item
          input(type="checkbox").checkbox-list__input 
          .checkbox-list__text
            span.checkbox-list__desc= item
  else if checkboxType == 'rich'
    each item in items
      label.checkbox-list__item
        input(type="checkbox").checkbox-list__input 
        .checkbox-list__text
          span.checkbox-list__header-desc= item.header
          span.checkbox-list__sub-desc= item.sub
  else
    each item in items
      label.checkbox-list__item
        input(type="checkbox").checkbox-list__input 
        .checkbox-list__text
          span.checkbox-list__desc= item
