extends ../../main.pug

block title
    title Colors and Type
block content
    .colors-and-type__logo 
        +logo
    .colors-and-type__main
        .colors-and-type__section
            .colors-and-type__column
                +palette
            .colors-and-type__column-gap
            .colors-and-type__column
                +type
