include ../like-button/like-button.pug

//- number - количество лайков
//- checked - поставлин ли лайк
//- img - аватар
//- author - имя автора
//- date - когда был оставлен коментарий
//- text - коментарий

mixin comment(options)
  .comment
    .comment__inner-wrapper
      img.comment__img(src=options.img, alt='avatar')
      .comment__like
        +like-button({number: options.number, checked: options.checked})
    .comment__content
      span.comment__author= options.author
      span.comment__date= options.date
      p.comment__text= options.text
