extends ../main.pug

block title
    title Cards
block content
    .fon
        +logo
        .row
            .column
                +registration              
            .column
                +login
            .column
                +calendar
            .column
                +room_foto