extends ../main.pug

block title
    title Form elements
block content
    .row
        .column_33
            +caption('Buttons')
            div
                +button('CLICK ME')
                +button('CLICK ME')
            div
                +button('CLICK ME', 'border')
                +button('CLICK ME', 'border')
            div
                +button('CLICK ME', 'text')
                +button('CLICK ME', 'text')
            div
                +button('перейти к оплате', 'long')
    .row
        .column_33
            +dropdown
    .row
        .column_33
            +ratebutton('raiting1', 4)  
            +ratebutton('raiting2', 5)  
    .row
        .column_33
            +caption('Radio Buttons')
            +radiobuttons
    .row 
        .column_33
            +expandablecheckboxlist([['Завтрак'],['Письменный стол', 'checked'],['Стул для кормления','checked'],['Кроватка','checked'],['Телевизор'],['Шампунь'],['Телевизор'],['Шампунь']])
            +expandablecheckboxlist([['Завтрак'],['Письменный стол', 'checked'],['Стул для кормления','checked'],['Кроватка','checked'],['Телевизор'],['Шампунь'],['Телевизор'],['Шампунь']])
    .row
        .column_33
            +likebutton('2')
            +likebutton('12', 'checked')
    .row
        .column_33
            +caption('Pagination')
            +pagination
    .row
        .column_33       
            +bulletlist('Bullet list',['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00'])   
    .row
        .column_33 
            +icontextlist([['./smile.svg','Комфорт', 'Шумопоглщающие стены'],['./home.svg','Удобство', 'Окно в каждой из спален'],])
    .row
        .column_33
            +caption('Text Field')
            +textfield('Email')
            +caption('Text Field')
            +textfield('This is pretty awesome', 'true')
            +caption('Masced Text Field')
            +maskedtextfield
    .row
        .column_33
            +rangeslider
