extends ../main.pug

block title
    title Headers footers
block content
    .row
        +header
    .row
        +bulletlist('Bullet list',['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00'])
