extends ../main.pug

block title
    title Contents
block content
    div
        a(href="/colors_and_type.html") Colors and type
    div
        a(href="/form_elements.html") Form elements
    div
        a(href="/headers_footers.html") Headers footers
    div
        a(href="/cards.html") Cards