mixin radiobuttons
    label.radiobutton__item
        input(type="radio", name="sex" checked).radiobutton__input
        span.radiobutton__checkbox
        span.radiobutton__text Мужчина
    label.radiobutton__item  
        input(type="radio", name="sex").radiobutton__input
        span.radiobutton__checkbox
        span.radiobutton__text Женщина