@import './datepicker.css';

.datepicker-inline .datepicker {
	width: 320px;
}

.datepicker {
  font-family: Montserrat;
  color: rgba(31, 32, 65, 0.5);
  font-size: 12px;

  &--nav {
		border-bottom: none;
		padding: 20px;
		padding-bottom: 30px;

		&-title {
			
			font-style: normal;
			font-weight: bold;
			font-size: 19px;
			line-height: 23px;
			text-align: center;
			color: #1F2041;
		}
  }
  
  &--content {
    padding: 0 20px;
  }

  &--days {
    &-names {
    margin: 0;
    }
  }

  &--day-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    color: #BC9CFF;
  }

  &--cell {
    height: 40px;

    &.-current- {
      color: white;
      font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border-radius: 22px;
    }
  }
}