mixin header
    .column
        .login Toxin
    .column
        ul.menu
            li.menu_item  О нас
            li.menu_item  Услуги
            li.menu_item  Вакансии
            li.menu_item  Новости
            li.menu_item  Соглашения
            
            
            
            
