mixin header(login, name)
  .header 
    +logo('true')
    .header__nav
      +menu
      if login
        .header__user-name= name
      else
        .header__button
          +button('Войти', 'border')
        .header__button
          +button('Зарегистрироваться')
