.form-elements__logo
  height: 140px

.form-elements__main
  max-width: 1160px
  margin: 0 auto
  
.form-elements__section
  display: grid
  grid-template-columns: 320px minmax( auto, 100px ) 320px minmax( auto, 100px ) 320px
  @media (max-width: 767.98px)
    grid-template-columns: 1fr   

.form-elements__column
  margin: 0 20px 0 20px
  
.form-elements__column-gap
  max-width: 72px


