.palette {
  &__item {
    display: flex;
    margin-bottom: 20px;
  }

  &__color {
    height: 70px;
    width: 70px;
    border-radius: 6px;
    margin-right: 40px;
  }

  &__color-main {
    background: rgba(31, 32, 65, 1);
  }

  &__color-main-75 {
    background: rgba(31, 32, 65, 0.75);
  }

  &__color-main-50 {
    background: rgba(31, 32, 65, 0.5);
  }

  &__color-main-25 {
    background: rgba(31, 32, 65, 0.25);
  }

  &__color-main-5 {
    background: rgba(31, 32, 65, 0.05);
  }

  &__color-primary {
    background: #BC9CFF;
  }

  &__color-secondary {
    background: #6FCF97;
  }

  &__color-name {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    margin: 0;
    padding-top: 8px;
  }

  &__color-hex {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 29px;
  }
}
