.palette
    display: flex
    margin-bottom: 20px
    width: 270px
    height: 70px

.palette__item
    height: 70px
    width: 70px
    border-radius: 6px
    margin-right: 40px

.palette__text
    display: flex
    flex-direction: column
    justify-content: center

.palette__header
    font-size: 19px

.palette__sharp
    font-size: 19px
