.palette {
  display: flex;

  &__color {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 6px;
    margin-right: 2.5rem;
  

  &_main {
    background: rgba(31, 32, 65, 1);
  }

  &_main-75 {
    background: rgba(31, 32, 65, 0.75);
  }

  &_main-50 {
    background: rgba(31, 32, 65, 0.5);
  }

  &_main-25 {
    background: rgba(31, 32, 65, 0.25);
  }

  &_main-5 {
    background: rgba(31, 32, 65, 0.05);
  }

  &_primary {
    background: #BC9CFF;
  }

  &_secondary {
    background: #6FCF97;
  }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    font-family: Quicksand;
    font-style: normal;
    font-size: 1.188rem;
    line-height: 1.813rem;
    
    &_bold {
      font-weight: bold;  
    }
  
    &_normal {
      font-weight: normal;   
    }
  }


}
