mixin palette(header, sharp)
    .palette
        .palette__item(class!=attributes.class)
        .palette__text
            span.palette__header= header 
            br
            span.palette__sharp= sharp