mixin palette(options)
  - var colorClass = 'palette__color_' + options.color

  .palette
    div.palette__color(class= colorClass)
    .palette__text
      span.palette__text_bold= options.label 
      span.palette__text_normal= options.hex



