.palette
    display: flex
    margin-bottom: 20px

.palette__color
    height: 70px
    width: 70px
    border-radius: 6px
    margin-right: 40px

.palette__color-dark-main
    background: $color-main

.palette__color-dark-main-75
    background: $color-main-75

.palette__color-dark-main-50
    background: $color-main-50

.palette__color-dark-main-25
    background: $color-main-25

.palette__color-dark-main-5
    background: $color-main-5

.palette__color-primary
    background: $color-primary

.palette__color-secondary
    background: $color-secondary

.palette__text
    +font-h2
    line-height: 29px

