mixin type(options)
  -
    var classTag = 'type__tag_' + options.class
    var classText = 'type__text_' + options.class

  .type
    div.type__tag(class= classTag)= options.tag
    div(class= classText)= options.text