.type {
  display: flex;

  &__tag {
    margin-right: 1.875rem;

    &_font-h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.8125rem;
      color: rgba(31, 32, 65, 0.25);
      padding-left: 0.5rem;
    }

    &_font-h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 1.1875rem;
      line-height: 1.4375rem;
      color: rgba(31, 32, 65, 0.25);
      padding-left: 0.625rem;
    }

    &_font-h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      text-transform: uppercase;
      color: rgba(31, 32, 65, 0.25);
      padding-left: 1.25rem;
    }

    &_font-body {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: rgba(31, 32, 65, 0.25);
    }
  }

  &__text {
    &_font-h1 {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: #1f2041;
      max-width: 21rem;
      @media screen and (max-width: 900px) {
        max-width: none;
      }
    }

    &_font-h2 {
      font-family: Quicksand;
      font-style: normal;
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 1.5rem;
      color: #1f2041;
      max-width: 17.625rem;
      @media screen and (max-width: 900px) {
        max-width: none;
      }
    }

    &_font-h3 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      text-transform: uppercase;
      color: #1f2041;
    }

    &_font-body {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: rgba(31, 32, 65, 0.75);
      max-width: 18.8125rem;
      @media screen and (max-width: 900px) {
        max-width: none;
      }
    }
  }
}
