extends ../main.pug

include ../../components/palette/palette
include ../../components/type/type
include ../../components/logo/logo

block title
  title Colors and Type
block content
  .colors-and-type__logo
    +logo({full: false})
  .colors-and-type__main
    .colors-and-type__palette
      +palette({ label: 'Dark Shade 100%', hex: '#1F2041', color: 'main' })
      +palette({ label: 'Dark Shade 75%', hex: '#1F2041', color: 'main-75' })
      +palette({ label: 'Dark Shade 50%', hex: '#1F2041', color: 'main-50' })
      +palette({ label: 'Dark Shade 25%', hex: '#1F2041', color: 'main-25' })
      +palette({ label: 'Dark Shade 5%', hex: '#1F2041', color: 'main-5' })
      +palette({ label: 'Purple', hex: '#BC9CFF', color: 'primary' })
      +palette({ label: 'Green', hex: '#6FCF97', color: 'secondary' }) 
    .colors-and-type__type
      +type({ tag: 'H1', text: 'This one is the sub-section or widget title', class: 'font-h1' })
      +type({ tag: 'H2', text: 'Next one is the item title inside widgets', class: 'font-h2' })
      +type({ tag: 'H3', text: 'This is a label or CTA text', class: 'font-h3' })
      +type({ tag: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', class: 'font-body' })