extends ../main.pug

include ../../components/palette/palette

block title
  title Colors and Type
block content
  .colors-and-type__logo
  .colors-and-type__main
    .colors-and-type__palette
      +palette({ label: 'Dark Shade 100%', hex: '#1F2041', color: 'main' })
      +palette({ label: 'Dark Shade 75%', hex: '#1F2041', color: 'main-75' })
      +palette({ label: 'Dark Shade 50%', hex: '#1F2041', color: 'main-50' })
      +palette({ label: 'Dark Shade 25%', hex: '#1F2041', color: 'main-25' })
      +palette({ label: 'Dark Shade 5%', hex: '#1F2041', color: 'main-5' })
      +palette({ label: 'Purple', hex: '#BC9CFF', color: 'primary' })
      +palette({ label: 'Green', hex: '#6FCF97', color: 'secondary' }) 