.colors-and-type {
  &__logo {
    max-width: 1400px;
    margin: auto;
    padding: 1.875rem 0 2.6875rem 1.25rem;
  }

  &__main {
    max-width: 1160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      margin: 0 1.25rem;
    }
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__palette {
    display: grid;
    row-gap: 1.25rem;
  }

  &__type {
    display: grid;
    align-content: start;
    row-gap: 3.125rem;
    @media screen and (max-width: 900px) {
      margin-top: 3.125rem;
    }
  }
}
