mixin likebutton(number, checked)
    label
        input(type="checkbox", checked= checked).likebutton__input
        .likebutton
            .likebutton__image
            .likebutton__number= number