extends ../main.pug

include ../../components/like-button/like-button.pug
include ../../components/comment/comment
include ../../components/caption/caption
include ../../components/text-field/text-field
include ../../components/button/button

block title
  title Form elements
block content
  +like-button({number: 2})
  +like-button({number: 12, checked: 'true'})
  +comment({
    img: './img/avatar-murad.png',
    number: 12,
    checked: 'true',
    author: 'Мурад Сарафанов', 
    date: '5 дней назад', 
    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
  }) 
  +text-field({
    header: 'Text Field',
    legend: 'Default',
    value: 'Email'
  })
  +text-field({
    header: 'Text Field',
    legend: 'Hover / Focus',
    hover: 'true',
    value: 'This is pretty awesome'
  })
  +button({text: 'CLICK ME'})
  +button({text: 'CLICK ME', hover: 'true'})
  +button({text: 'CLICK ME', type: 'border'})
  +button({text: 'CLICK ME', type: 'border', hover: 'true'})
  +button({text: 'CLICK ME', type: 'text'})
  +button({text: 'CLICK ME', type: 'text', hover: 'true'})
  +button({text: 'перейти к оплате', type: 'long'})





  //- +logo

  //- +caption('Text Field')
  //- +state('Default')
  //- +textfield('Email')
  //- +caption('Text Field')
  //- +state('Hover / Focus')
  //- +textfield('This is pretty awesome', 'true')
  //- +caption('Dropdown')
  //- +state('Default')

  //- +dropdown({
  //-   type: 'test',
  //-   opened: 'True',
  //-   items: [
  //-     {menuItem: 'взрослые', number: '0'},
  //-     {menuItem: 'дети', number: '2'},
  //-     {menuItem: 'младенцы', number: '5'}
  //-   ],
  //- })

  //- +caption('Masced Text Field')
  //- +state('Default')
  //- +maskedtextfield 
  //- +caption('Radio Buttons')

  //- +radiobuttons
  //- +likebutton('2')
  //- +like-button
  //- +caption('Radio Buttons')
  //- +ratebutton('raiting1', 4)  
  //- +ratebutton('raiting2', 5)  

  //- +rangeslider
  //- +caption('Buttons')
  //- +button('CLICK ME')
  //- +button('CLICK ME')
  //- +button('CLICK ME', 'border')
  //- +button('CLICK ME', 'border')
  //- +button('CLICK ME', 'text')
  //- +button('CLICK ME', 'text')
  //- +button('перейти к оплате', 'long')
  //- +caption('Pagination')
  //- +pagination

  //- +caption('Bullet list')
  //- +bullet_list(['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия — после 13:00, а выезд до 12:00']) 

  //- +icontextlist([['./smile.svg','Комфорт', 'Шумопоглщающие стены'],['./home.svg','Удобство', 'Окно в каждой из спален'],])      

  //- +checkbox_list({
  //- items:
  //- [
  //- {text: 'Можно курить'}, 
  //- {text: 'Можно с питомцами',
  //- checked: 'checked'}, 
  //- {text: 'Можно пригласить гостей (до 10 человек)',
  //- checked: 'checked'}
  //- ]
  //- })

  //- +checkbox_list({
  //- items: [
  //- {desc: 'Широкий коридор', 
  //- sub: 'Ширина коридоров в номере не менее 91 см.'}, 
  //- {desc: 'Помощник для инвалидов', 
  //- sub: 'На 1 этаже вас встретит специалист и проводит до номера.'}
  //- ], 
  //- type:
  //- 'rich'
  //- })

  //- +checkbox_list({
  //- caption:
  //- 'expandable checkbox list',
  //- items: [
  //- {text: 'Завтрак'},
  //- {text: 'Письменный стол',
  //- checked: 'checked'},
  //- {text: 'Стул для кормления',
  //- checked: 'checked'},
  //- {text: 'Кроватка',
  //- checked: 'checked'},
  //- {text: 'Телевизор'},
  //- {text: 'Шампунь'},
  //- {text: 'Телевизор'},
  //- {text: 'Шампунь'}
  //- ], 
  //- type:
  //- 'expandable'
  //- }) 
