.form-elements {
  &__row {
    width: 1160px;
    margin: auto;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
  }

  // &__col {
  //   width: 320px;
  // }

  // &__group-1

  // &__group-2

  // &__group-3

  // &__group-4

  // &__group-5

  // &__group-6

  // &__group-7

  // &__group-8
}
