extends ../main.pug

include ../../components/footer/footer
include ../../components/header/header
include ../../components/registration/registration

block title
  title Headers footers
block content
  +header
  .sing-up__main 
    +registration
  +footer({mobile: false})