include ../text-field/text-field
include ../../components/button/button

mixin login
  .login
    h3.login__header Войти
    .login__input-group
      +text-field({value: 'Email'})
      +text-field({value: 'Пароль'})
    .login__button
      +button({text: 'Войти', type: 'long'})
    .login__bottom
      span.login__text Нет аккаунта на Toxin?
      +button({text: 'создать', type:  'border'})
