mixin login
    .login.card
        h3.login__header Войти
        .login__picker
            +textfield('Email')
            +textfield('Пароль')
        .login__button
            +button('Войти', 'long')
        .login__creat
            span.login__text Нет аккаунта на Toxin?
            +button('создать', 'border')
