include ../room-number/room-number
include ../rating/rating

mixin room-card(options)
  .room-foto
    img.room-foto__img(src='./img/test.png')
    .room-foto__wrapper
      .room-foto__header
        +room-number({numberValue: options.numberValue, luxe: options.luxe, price: options.price})
      .room-foto__footer
        +rating({quantity: options.quantity})
        .room-foto__reviews
          <span class="room-foto__reviews-number">145</span> Отзывов
