include ./components/palette/palette
include ./components/type/type
include ./components/header/header
include ./components/bullet_list/bullet_list
include ./components/button/button
include ./components/dropdown/dropdown
include ./components/ratebutton/ratebutton
include ./components/radiobuttons/radiobuttons
include ./components/caption/caption
include ./components/pagination/pagination
include ./components/icontextlist/icontextlist
include ./components/textfield/textfield
include ./components/maskedtextfield/maskedtextfield
include ./components/rangeslider/rangeslider
include ./components/state/state
include ./components/calendar/calendar
include ./components/logo/logo
include ./components/menu/menu
include ./components/footer/footer
include ./components/login/login
include ./components/registretion/registretion
include ./components/room_foto/room_foto
include ./components/checkbox_list/checkbox_list

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="./img/favicon.png" type="image/png" sizes='32x32')
        block title
    body.container
        block content
