include ./components/palette/palette
include ./components/type/type
include ./components/header/header
include ./components/bulletlist/bulletlist
include ./components/button/button
include ./components/dropdown/dropdown
include ./components/ratebutton/ratebutton
include ./components/radiobuttons/radiobuttons
include ./components/expandablecheckboxlist/expandablecheckboxlist
include ./components/likebutton/likebutton
include ./components/caption/caption
include ./components/pagination/pagination
include ./components/icontextlist/icontextlist
include ./components/textfield/textfield



doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    body.container
        block content
