extends ../main.pug

include ../../components/login/login
include ../../components/registration/registration
include ../../components/radio-buttons/radio-buttons
include ../../components/toggle/toggle

block title
  title Cards
block content
  +login
  +registration
