.cards {
  background: #f4f4f6;
  min-height: 100vh;

  &__main {
    display: grid;
    grid-template-columns: 380px 380px 320px;
    gap: 40px;
    justify-content: center;
    @media screen and (max-width: 1200px) {
      grid-template-columns: 380px 380px;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: minmax(auto, 380px);
    }
  }

  &__column {
    display: grid;
    align-content: flex-start;
    gap: 40px;
  }
}
