include ../caption/caption

mixin text-field(options)
  label.text-field
    .text-field__input-header
      +caption({header: options.header, legend: options.legend})
    input.text-field__input(
      class= options.hover ? 'text-field__input_hovered' : ''
      placeholder= options.value
      wrap= 'off'
    )

