include ../title/title

mixin text-field(options)
  - 
    var inputClass = ''
    inputClass += options.hover ? ' text-field__input_hovered' : ''
    inputClass += options.masked ? ' js-text-field__input_masked' : ''

  .text-field
    .text-field__header
      +title({text: options.title})
      span.text-field__hint= options.hint
    .text-field__input-wrapper
      input.text-field__input(
        class= inputClass
        placeholder= options.value
        wrap= 'off'
      )
      if options.type == 'dropdown' 
        button.text-field__button.text-field__expand-more.material-icons expand_more
      else if options.type == 'subscription'
        button.text-field__button.text-field__arrow-forward
